@model List<CinemaTicketingSystem.Domain.DomainModels.UserRoles>

@{
    var userId = ViewBag.userId;
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage user role</h2>
        </div>
        <div class="card-body">
            <h3 class="text-danger">Select only one role!</h3>
            @for(int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].RoleName
                    </label>
                </div>

            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-success" />
            <a asp-action="Index" asp-controller="User"
                class="btn btn-outline-success">Cancel</a>
        </div>
    </div>
</form>
